.tiered-block {
    background: #fff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 6px;

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    &__item__top {
        display: flex;

        .icon-chevron-right {
            color: $regular;
            font-size: 18px;
            cursor: pointer;
            position: relative;
            top: 6px;
            right: 9px;

            &.tiered-block__open {
                color: $light-brand;
            }
        }
    }

    &__open {
        display: block;
        transform: rotate(90deg);
        transform-origin: center center;
    }

    &__title {
        padding-left: 10px;
        margin-right: auto;
    }

    &__player-team {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $darkest;

        &.active {
            span {
                color: $light-brand;
            }
        }
    }

    &__player-date {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $darkest;
    }

    &__under-level-block {
        overflow: hidden;
        opacity: 0;
        height: 0;
        transition: .5s ease-in;
    }

    &__under-level-block--opened {
        overflow: visible;
        opacity: 1;
        height: auto;
        transition: .5s ease-in;
    }

    &__under-level {
        padding: 4px;
        background: $regular;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin-top: 4px;

        &__header {
            padding: 4px 0 4px 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            color: white;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            margin-right: auto;
        }

        .icon-chevron-right {
            color: #fff;
            font-size: 18px;
            cursor: pointer;
            position: relative;
            right: 9px;
        }

        &__open {
            display: block;
            transform: rotate(90deg);
            transform-origin: center center;
        }

        &__body {
            .markets-block {
                visibility: hidden;
                opacity: 0;
                height: 0;
                transition: .5s ease-in;
            }
        }

        &__body--opened {
            margin-top: 8px;

            .markets-block {
                visibility: visible;
                opacity: 1;
                height: auto;
                transition: .5s ease-in;

                .markets-block__item {
                    padding-left: 10px;
                }
            }
        }
    }

    &__indicator-live {
        padding: 4px 5px;

        span {
            display: block;
            margin-right: 30px;
            padding: 5px 8px;
            border-radius: 8px;
            background: $light-brand;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

.main-markets__dropdown {
    z-index: 1;
}