.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(18, 20, 33, 0.4);
}

.bat-slip {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 360px;
    background: $lightest;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    height: 100%;
    max-height: 740px;

    &__count{
        display: inline-block;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.09);
        border-radius: 4px;
        background: #fff;
        color: $darkest;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        text-align: center;
    }

    &__header {
        background: #4F5264;
        padding: 13px 16px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__text {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }

        &__btn {
            background: transparent;
            border: none;
            outline: none;
            padding: 9px;
            width: 9px;
            height: 9px;
            position: absolute;
            right: 16px;

            .icon {
                position: relative;
                right: 6px;
                bottom: 6px;
                color: #C4C7D4;
            }
        }
    }

    &__content {
        padding: 0 8px 8px;
        background: transparent;
        overflow: auto;
        max-height: calc(100% - 45px);

        .empty {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .icon-empty-icon {
                color: #E3E3E8;
                font-size: 130px;
            }

            &__text {
                margin-top: 20px;
                color: $semi-light;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__top {
        padding: 13px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__header {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: $darkest;
        }

        &__btn {
            border: none;
            outline: none;
            display: flex;
            background: transparent;

            span {
                color: #818598;
                font-size: 12px;
                line-height: 15px;
            }

            .icon-delete-all-icon {
                color: $semi-light;
                font-size: 15.5px;
                line-height: 13px;
                margin-left: 5px;
            }
        }
    }

    &__accumulator {
        border: 2px solid $light-brand;
        border-radius: 8px;
        margin-bottom: 26px;

        &__head {
            background: $light-brand;
            padding: 8px 10px;
            border-radius: 6px 6px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__left {
                display: flex;
            }

            .icon-multi-icon{
                font-size: 13px;
                color: #fff;
                font-size: 15px;
                margin-right: 10px;
            }
        }

        &__header {
            color: #FFFFFF;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
        }

        &__content {
            padding: 8px 10px;
            background: #fff;
            border-radius: 0 0 6px 6px;

            .err {
                margin-top: 10px;
                padding: 0;
            }

            .sum {
                &__rate{
                    span {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        &__text {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: $darkest;
        }

        &__sum {
            display: flex;
            justify-content: space-between;

            >div{
                text-align: center;
                width: 49%;
            }

            
        }

        &__btn {
            padding: 20px 15px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            background: transparent;
            border: none;
            outline: none;
            background: #06B78C;
            border-radius: 8px;
            width: 100%;
        }

        &__btn:disabled {
            opacity: 0.4;
        }

        &__coefficient {
            padding: 2px 6px;
            background: $semi-dark;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;

            .at { 
                margin-right: 5px;
                line-height: 18px;
            }
        }
    }

    &__item {
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        background: #fff;
        padding: 6px 0;

        .err {
            padding: 6px 12px;
        }

        &__head {
            border-radius: 6px 6px 0 0;
            padding: 6px 12px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            p {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: $darkest;
            }

            span {
                font-size: 12px;
                line-height: 15px;
                color: $regular;
            }

            .strong {
                font-weight: 600;
            }

            &__btn {
                background: transparent;
                border: none;
                outline: none;
                padding: 10px;
            }

            &__item:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &__info {

            &__item {
                padding: 8px 0px 8px 33px;

                p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: $darkest;
                }

                span {
                    font-size: 12px;
                    line-height: 15px;
                    color: #676B7E;
                }

                .strong {
                    font-weight: 600;
                }
            }

            &__text {
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $darkest;
            }

            &__header {
                display: flex;
                align-items: center;
                border-bottom: 1px solid $lightest;
                border-top: 1px solid $lightest;
                padding: 8px 0 8px 12px;
    
                .icon-vs-icon {
                    font-size: 16px;
                    color: #ffffff;
                    opacity: 0.4;
                    background: $darkest;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }

        &__body {
            padding: 6px 12px;
            border-radius: 0 0 6px 6px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            border-top: 1px solid $lightest;
        }

        &__text {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;
            color: $darkest;
            font-weight: bold;
            max-width: 125px;
            order: 1;
            width: 40%;
        }

        &__coefficient {
            padding: 9px 0 0;
            order: 2;
            width: 20%;

            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: $light-brand;
            }
            
            .at{
                color: $darkest;
            }
        }

        .sum{
            order: 3;
            width: 40%;
        }

        &__block-btn{

            &__btn {
                padding: 20px 15px;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                border: none;
                outline: none;
                background: #06B78C;
                border-radius: 8px;
                width: 100%;
            }
        }
    }

    .error{
        border-radius: 8px;
        background: $light-brand;
        padding: 5px 9px;
        display: flex;
        align-items: center;

        .icon-error-icon{
            font-size: 18px;
            color: #fff;
        }

        &__text {
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            padding: 0 10px;
        }
    }

    .sum {
        border-radius: 4px;
        border: 1px solid #E3E3E8;

        &__rate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px 4px 0 0;
            border-bottom: 1px solid #E3E3E8;

            span {
                padding: 7px 7px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: $darkest;
                display: block;
                width: 100%;
                text-align: center;
            }

            &__btn{
                background: $semi-light;
                width: 32px;
                height: 32px;
                border-radius: 0 3px 0 0;
                border: none;
                outline: none;

                .icon-to-all-icon{
                    transform: rotate(180deg);
                    color: #fff;
                    font-size: 20px;
                    display: block;
                }
            }
        }

        &__return {
            padding: 5px 10px;
            text-align: center;
            
            .text, .sum__total {
                font-size: 12px;
                line-height: 15px;
            }

            .sum__total {
                font-weight: 600;
            }

            .text {
                color: $regular;
            }
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 8px;
    }
}