.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(18, 20, 33, 0.4);
}

.strong{
    font-weight: 600;
}

.popup-bets-single {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bets-single {
    width: 100%;
    max-width: 360px;
    background: $lightest;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    padding: 16px 24px 24px;
    border-radius: 8px;
    overflow: auto;
    max-height: 100%;

    &__head {
        margin-bottom: 15px;

        &__text, &__counter {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: $darkest;
        }

        &__counter {
            color: #9093A4;
        }

        &__info {
            margin-top: 4px;
            font-size: 12px;
            line-height: 15px;
            color: $darkest;
        }
    }

    &__select {
        background: #fff;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 4px;
        margin-bottom: 15px;

        form {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &__item {
            width: calc(100% / 3);

            input[type="radio"]{
                display: none;
            }

            input[type="radio"]:checked + label {
                background: #C4C7D4;
                color: #FFFFFF;
            }

            &__label {
                border-radius: 4px;
                text-align: center;
                display: inline-block;
                width: 100%;
                background: #fff;
                padding: 5px 0;
                cursor: pointer;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: $regular;
            }
        }
    }

    &__accumulator {

        &__text {
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $darkest;
        }

        &__btn {
            border: none;
            outline: none;
            background: transparent;
            font-size: 12px;
            line-height: 15px;
            font-weight: normal;
            color: $regular;

            .icon-triangle {
                font-size: 5px;
                display: inline-block;
                transform: rotate(180deg);
                position: relative;
                top: -1px;
                color: #C4C7D4;
            }

            &.active {
                .icon-triangle {
                    color: $light-brand;
                    transform: rotate(0deg);
                }
            }
        }

        &__legs-block {
            display: none;
            margin-top: 12px;

            &__item {
                padding: 8px 12px;
                border-bottom: 1px solid $lightest;

                &__head {
                    p {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: $darkest;
                    }

                    span {
                        font-size: 12px;
                        line-height: 15px;
                        color: $regular;

                        &.strong{
                            font-weight: 600;
                        }
                    }
                }

                &__body {
                    margin-top: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__text {
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.04em;
                        color: #121421;
                        font-weight: bold;
                    }

                    &__coefficient {
                        span {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 19px;
                            color: #EC1347;

                            &.at {
                                color: $darkest;
                            }
                        }
                    }
                }
            }
        }

        &__legs-block.open{
            display: block;
            background: #fff;
            border-radius: 8px;
        }
    }

    &__payment {
        padding: 5px 12px;
        background: #fff;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        margin: 12px 0;

        &__item {
            padding: 5px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                border-bottom: 1px solid $lightest;
            }
        }
    }

    &__btn-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        padding: 15px;  
        border: none;
        outline: none;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .btn-cancel{
        background: #E3E3E8;
        color: $regular;
        width: calc(100% / 3 - 4px);
    }

    .btn-confirm {
        background: #06B78C;
        color: #fff;
        width: calc(100% / 1.5 - 4px);
    }

    &__success {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 63px;

            .icon-check-icon {
                font-size: 90px;
                color: #06B78C;
                margin-bottom: 20px;
            }

            &__text {
                max-width: 165px;
                text-align: center;
                font-size: 14px;
                line-height: 17px;
                color: $darkest;
                margin-top: 20px;
            }
        }

        &__btn-block {
            margin-top: 40px;
            width: 100%;
        }

        &__btn-close {
            border-radius: 8px;
            width: 100%;
            padding: 16px 15px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $regular;
            border: none;
            outline: none;
            background: #E3E3E8;
        }
    }
}