.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(18, 20, 33, 0.4);
}

.strong {
    font-weight: 600;
}

.popup-help-faq {
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-faq {
    width: 100%;
    max-width: 772px;
    background: $lightest;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    max-height: 852px;

    &__head {
        background: #4F5264;
        padding: 13px 16px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__text {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }

        &__btn {
            background: transparent;
            border: none;
            outline: none;
            padding: 9px;
            width: 9px;
            height: 9px;

            .icon {
                position: relative;
                right: 6px;
                bottom: 6px;
                color: #C4C7D4;
            }
        }
    }

    &__body {
        padding: 8px;
        background: #E3E3E8;
        overflow: auto;
        height: calc(100% - 45px);

        >div {
            background: $lightest;
            border-radius: 8px;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
            padding: 8px;
            color: $darkest;
            font-size: 14px;
            line-height: 17px;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        .help-faq__descriptoins {
            padding: 16px 12px;
        }
    }

    &__header {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    &__text-header {
        font-weight: 600;
        margin-bottom: 17px;

        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &__text {

        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &__instruction {
        &__item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            .help-faq__text-header{
                margin-bottom: 5px;
            }

            &__text-block{
                width: 77%;
            }

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                background: #fff;
                width: 56px;
                height: 56px;
                margin-right: 12px;

                .icon {
                    position: relative;
                    left: 1px;
                    font-size: 26px;
                    color: $light-brand;

                    &.icon-add-user-icon {
                        font-size: 20px;
                    }

                    &.icon-check {
                        background: $light-brand;
                        font-size: 10px;
                        color: #fff;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;

                        &::before {
                            position: relative;
                            left: 6px;
                            top: 4px;
                        }
                    }
                }
            }
        }
    }

    &__btn-block {

        .help-faq__text-header {
            text-align: center;
        }
    }

    &__btn-play{
        border: none;
        outline: none;
        border-radius: 8px;
        background: #06B78C;
        padding: 16px 15px;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        width: 100%;
    }

    &__frequently-asked-questions {

        &__item {
            padding: 15px 12px;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            background: #fff;

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            &__label {
                position: relative;
                display: block;

                .icon-triangle{
                    position: absolute;
                    right: 15px;
                    font-size: 5px;
                    display: inline-block;
                    transform: rotate(90deg);
                    top: 0px;
                    color: $light;
                }

                .drop-down {
                    display: none;
                }

                .help-faq__text {
                    cursor:  pointer;

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }
                }

                input {
                    display:  none;

                    &:checked + div > .drop-down {
                        display: block;
                    }

                    &:checked + div > .help-faq__text {
                        font-weight: 600;
                        margin-bottom: 15px;
                    }

                    &:checked + div > .icon-triangle {
                        color: $light-brand;
                        transform: rotate(180deg);
                        font-size: 6px;
                    }
                }
            }
        }
    }
}