.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(18, 20, 33, 0.4);
}

.popup-open-bets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-bets {
    width: 100%;
    max-width: 772px;
    background: $lightest;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    max-height: 650px;

    &__head{
        padding: 12px 16px;
        background: $semi-dark;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn-remove {
            background: transparent;
            border: none;
            outline: none;
            padding: 9px;
            width: 9px;
            height: 9px;

            .icon-remove-icon {
                position: relative;
                right: 6px;
                bottom: 6px;
                color: #C4C7D4;
            }
        }

        &__header {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }

    &__body {
        padding: 8px;
        height: calc(100% - 45px);
        overflow: auto;

        &__item {
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            background: #fff;
            
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            .row {
                padding: 11px 12px;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $lightest;
                }
            }

            &__head {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .number-bet, .date-bet{
                    font-size: 12px;
                    line-height: 15px;
                    
                }

                .date-bet {
                    color: $semi-light;
                }

                .number-bet {
                    color: $darkest;
                    margin-right: 6px;
                }

                
            }

            &__details {

                p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: $darkest;
                }

                &-btn {
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: normal;
                    color: #676B7E;
                    padding: 0;
                    margin-top: 3px;

                    .icon-triangle {
                        font-size: 5px;
                        display: inline-block;
                        transform: rotate(180deg);
                        position: relative;
                        top: -1px;
                        color: #C4C7D4;
                    }

                    &.active {
                        .icon-triangle {
                            color: #EC1347;
                            transform: rotate(0deg);
                        }
                    }
                }

                &__items {
                    display: none;

                    &.show {
                        display: block;
                    }
                }

                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid $lightest;
                    padding: 5px 0;

                    p {
                        margin-bottom: 5px;
                        font-weight: normal;
                    }

                    span {
                        color: $regular;
                    }
                }
            }

            &__description {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: $darkest;
                }

                &__totals {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: calc(100% / 3);
                    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;

                    .total {
                        width: calc(100% / 3);
                    }
                }
            }

            &__counting {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .column {
                    width: calc(100% / 3);

                    &.rate {
                        text-align: center;
                    }

                    &.result {
                        text-align: right;

                        .won {
                            color: #06B78C;
                        }

                        .lost {
                            color: $light-brand;
                        }
                    }

                    .counting__odds,
                    .counting__stake {
                        font-size: 14px;
                        line-height: 17px;
                        color: $darkest;
                    }
                }
            }
        }
    }

    &__select {
        background: #fff;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 4px;
        margin-bottom: 8px;

        form {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        &__item {
            width: calc(100% / 2);

            input[type="radio"]{
                display: none;
            }

            input[type="radio"]:checked + label {
                background: $light-brand;
                color: #FFFFFF;
                font-weight: 600;
            }

            &__label {
                border-radius: 4px;
                text-align: center;
                display: inline-block;
                width: 100%;
                background: #fff;
                padding: 5px 0;
                cursor: pointer;
                font-size: 12px;
                line-height: 15px;
                color: $regular;
            }
        }
    }
}

.status-bet {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    border-radius: 4px;
    padding: 3px 8px;
    
    span {
        color: $darkest;
    }

    &.pending {
        background: #E3E3E8;
        border: 1px solid #C4C7D4;
    }

    &.voided {
        background:  rgba(255, 218, 87, 0.3);;
        border: 1px solid #FFDA57;
    }

    &.won {
        background: rgba(6, 183, 140, 0.3);
        border: 1px solid #06B78C;
    }

    &.lost {
        background: rgba(236, 19, 71, 0.3);
        border: 1px solid #EC1347;
    }
}

.total {
    border-radius: 6px;
    padding: 3px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: $light;

    &.won {
        background: #06B78C;
        color: #fff;
    }

    &.lost {
        background: $light-brand;
        color: #fff;
    }
}