.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(18, 20, 33, 0.4);
}

.strong {
    font-weight: 600;
}

.popup-player-statistics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-statistics {
    width: 100%;
    max-width: 722px;
    background: $lightest;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    border-radius: 8px;
    overflow: auto;
    max-height: 100%;

    &__head {
        margin-bottom: 20px;
    }

    &__header {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $darkest;
        margin-bottom: 3px;
    }

    .player__activity {
        font-size: 12px;
        line-height: 15px;
    }

    &__nav-nemu {

        .tabs-menu {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 8px 0;
            margin-bottom: 30px;

            .assists {
                font-size: 12px;
                line-height: 15px;
                border-radius: 8px;
                color: $regular;
                padding: 8px 15px;
                background: transparent;
                cursor: pointer;
                display: inline-block;
            }
    
            input {
                display: none;
            }
    
            input:checked + label {
                color: $light-brand;
                background: #fff;
                box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
                font-weight: 600;
            }

            &__btn {
                border: none;
                outline: none;
                background: transparent;
                font-size: 12px;
                line-height: 15px;
                font-weight: 600;
                color: $darkest;
                padding: 8px 6px 6px;

                .icon-triangle {
                    font-size: 5px;
                    display: inline-block;
                    transform: rotate(180deg);
                    position: relative;
                    top: -1px;
                    color: $semi-light;
                }
            }
        }
    }

    &__progress {
        margin-bottom: 16px;

        &__head {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;

            span {
                font-size: 14px;
                line-height: 17px;
                color: $darkest;

                .strong {
                    font-weight: 600;
                }
            }
        }
        
        &__value {
            border-radius: 8px;
            background-color: #fff;
            display: block;
            width: 100%;
            height: 16px;
            border: 1px;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);

            &::-webkit-progress-bar {
                border-radius: 8px;
                background-color: #fff;
                display: block;
                width: 100%;
                height: 16px;
                border: 1px;
                box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
            }

            &::-moz-progress-bar {
                border-radius: 8px;
                background-color: #fff;
                display: block;
                width: 100%;
                height: 16px;
                border: 1px;
                box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
            }
        }

        &__value::-webkit-progress-value {
            background-color: $light-brand;
            border-radius: 8px;
        }
    }
}