@font-face {
	font-family: "icons";
	src: url('src/assets/fonts/icons.eot');
	src: url('src/assets/fonts/icons.eot?#iefix') format('eot'),
		url('src/assets/fonts/icons.woff2') format('woff2'),
		url('src/assets/fonts/icons.woff') format('woff'),
		url('src/assets/fonts/icons.ttf') format('truetype'),
		url('src/assets/fonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-a-football:before {
	content: "\E001";
}

.icon-add-user-icon:before {
	content: "\E002";
}

.icon-add-user:before {
	content: "\E003";
}

.icon-add:before {
	content: "\E004";
}

.icon-baseball:before {
	content: "\E005";
}

.icon-basketball:before {
	content: "\E006";
}

.icon-check:before {
	content: "\E007";
}

.icon-chevron-right:before {
	content: "\E008";
}

.icon-delete-all-icon:before {
	content: "\E009";
}

.icon-empty-icon:before {
	content: "\E00A";
}

.icon-error-icon:before {
	content: "\E00B";
}

.icon-football:before {
	content: "\E00C";
}

.icon-header-dropdown:before {
	content: "\E00D";
}

.icon-help-icon:before {
	content: "\E00E";
}

.icon-hockey:before {
	content: "\E00F";
}

.icon-info:before {
	content: "\E010";
}

.icon-live:before {
	content: "\E011";
}

.icon-loop:before {
	content: "\E012";
}

.icon-minus:before {
	content: "\E013";
}

.icon-multi-icon:before {
	content: "\E014";
}

.icon-multi:before {
	content: "\E015";
}

.icon-my-bets-icon:before {
	content: "\E016";
}

.icon-odds-icon:before {
	content: "\E017";
}

.icon-race:before {
	content: "\E018";
}

.icon-remove-icon:before {
	content: "\E019";
}

.icon-search:before {
	content: "\E01A";
}

.icon-statistics:before {
	content: "\E01B";
}

.icon-tap-icon:before {
	content: "\E01C";
}

.icon-to-all-icon:before {
	content: "\E01D";
}

.icon-triangle:before {
	content: "\E01E";
}

.icon-vs-icon:before {
	content: "\E01F";
}
