
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: $ultra-light;
    font-size: 12px;
    height: 100vh;
    scrollbar-color: $light transparent;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: $light;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover{
    background: $light;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 9px;
}


// MAIN CONTENT

.main-content{
    margin-top: 8px;

    &__wrapper{
        padding: 8px;
        background-color: $lightest;
        border-radius: 0px 0px 8px 8px;

        &--build-mode{
            padding: 0px;
            background-color: unset;
            display: flex;
        }
    }
}

.main-banner{
    background: $lightest;
    border-radius: 8px 8px 0px 0px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2px;

    &__images{
        display: flex;
        align-items: center;
    }

    &__sport-img{
        position: absolute;
        height: 100%;
        width: 160px;
        right: 0px;
        top: 0px;
        border-top-right-radius: 8px;
        overflow: hidden;
        
        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            object-position: right;
        }
    }

    &__ligue{
        height: 36px;
        width: 120px;
        margin-right: 0px;
        margin-right: 160px;
        
        & img{
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center center;
        }
    }
}

.banner-menu{
    &__top-row{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    &__bottom-row{
        display: flex;
        align-items: center;
    }

    &__breadcrumbs{
        color: $darkest;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin-right: 12px;
        margin-left: 8px;
        display: flex;
        align-items: center;

        i{
            font-size: 12px;
            line-height: 1;
            color: $semi-light;
            margin-left: 4px;
            margin-right: 4px;
        }
    }

    &__build-button{
        background: transparent;
        border: 1px solid $light-brand;
        border-radius: 8px;  
        min-width: 127px;
        padding: 7.5px 12px 7.5px 16px;  
        color: $darkest;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i{
            font-size: 18px;
            margin-left: 4px;
            color: $semi-light;
        }
    }

    &__games{
        margin-right: 8px;
    }

    &__live-toggle{
        margin-left: 8px;
    }
}

.games-selection{
    position: relative;
    color: $darkest;

    &__select{
        width: 275px;
        padding: 0px 12px;
        min-height: 44px;
        background: white;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: relative;

        i{
            font-size: 24px;
            color: $semi-light;
            cursor: pointer;
        }

        &>.games-dropdown__item{
            padding: 0px;
            border-bottom: 0px;
        }
    }
}

.games-dropdown{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: calc(100% + 2px);
    left: 0px;
    width: 100%;
    height: 235px;
    overflow-y: scroll;
    scrollbar-width: thin;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding-top: 8px;

    &__item{
        padding: 6px 12px;
        border-bottom: 2px solid $lightest;
        font-size: 14px;
        line-height: 17px;
        color: $darkest;
        min-height: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:last-child{
            border-bottom: 0px;
        }

        &--active{
            background-color: $lightest;
        }

        &--live{
            .games-dropdown__item-name::after{
                content: "LIVE";
                background-color: $light-brand;
                border-radius: 8px;
                padding: 3px 6px;
                color: white;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
            }
        }

        &--all-games{
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            padding: 12px 12px;
        }
    }

    &__item-name{
        span{
            color: $semi-light;
        }
    }

    &__item-time{
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: $regular;
    }
}

.banner-players{
    font-size: 16px;
    line-height: 20px;
    color: $darkest;
    background: #FFFFFF;
    font-weight: 600;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    width: 220px;
    min-height: 44px;
    position: relative;

    &>i{
        font-size: 24px;
        color: $semi-light;
        cursor: pointer;
    }

    &__text{
        span{
            color: $semi-light;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &--active{

        .players-dropdown{
            opacity: 1;
            visibility: visible;
        }
    }
}

.players-dropdown{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: calc(100% + 2px);
    left: 0px;
    width: 100%;
    height: 310px;
    overflow-y: scroll;
    scrollbar-width: thin;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px 0px;

    &__search{
        padding: 8px 8px 8px 34px;
        font-size: 12px;
        line-height: 14px;
        color: $light;
        background: #FFFFFF;
        border: 1px solid #E3E3E8;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: 'Inter', sans-serif;
        width: 100%;

        &::placeholder{
            font-size: 12px;
            line-height: 15px;
            color: $light;
        }

        &:focus{
            border-color: $light-brand;
            color: $darkest;

            &+.icon{
                color: $light-brand;
            }
        }
    }

    &__search-wrapper{
        position: relative;
        padding: 0px 8px;

        &>i{
            position: absolute;
            font-size: 18px;
            left: 17px;
            top: 6px;
            color: $light;
        }
    }
    &__clear{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: $semi-light;
        margin: 12px;
        text-decoration: underline;
    }
}

.players-item{
    padding: 6px 12px;
    border-bottom: 1px solid $lightest;
    display: flex;
    align-items: center;

    &:last-child{
        border-bottom: 0px;
    }

    &__checkbox-wrapper{
        margin-right: 11px;
        height: 18px;
        width: 18px;
        min-width: 18px;
        min-height: 18px;
        position: relative;

        input[type="checkbox"]{
            height: 18px;
            width: 18px;
            min-width: 18px;
            min-height: 18px;
            border-radius: 4px;
            opacity: 0;
            cursor: pointer;

            &:checked + .players-item__checkbox-overlay{
                border-color: $light-brand;
                background-color: $light-brand;
            }
            &:checked + .players-item__checkbox-overlay > i{
                color: white;
            }
        }
    }

    &__checkbox-overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border: 2px solid #C4C7D4;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        i{
            font-size: 7px;
            margin-top: 1px;
            color: transparent;
        }
    }

    &__name{
        font-size: 14px;
        line-height: 17px;
    }

    &__teams{
        font-size: 12px;
        line-height: 14px;
        color: $regular;
        font-weight: 400;

        span{
            font-weight: 600;
        }
    }
}

.live-toggle{
    padding: 5px;
    border: 1px solid #E3E3E8;
    border-radius: 8px;
    height: 34px;
    display: flex;
    align-items: center;
    background: transparent; 

    &>.icon{
        font-size: 18px;
        color: $light-brand;
        margin-left: 7px;
        margin-right: 8px;
    }

    &__text{
        color: $darkest;
        font-size: 14px;
        line-height: 17px;
        min-width: 28px;
    }

    &__toggler{
        height: 22px;
        width: 34px;
        border: 1px solid $semi-light;
        border-radius: 16px;
        margin-left: 12px;
        padding: 2px;
    }
    &__toggler-round{
        height: 16px;
        width: 16px;
        background: $light;
        border-radius: 50%;
        margin-left: 0px;
    }
}

.main-markets{
    margin-bottom: 8px;
    background: $lightest;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list{
        display: flex;
    }

    &__item{
        padding: 8px 16px;
        font-size: 12px;
        line-height: 15px;
        color: $regular;
        cursor: pointer;

        &--active{
            background: #FFFFFF;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
            color: $light-brand;
            border-radius: 8px;
            font-weight: 600; 
        }
    }

    &__more{
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        
        &>p{
            font-weight: 600;
            font-size: 12px;
            line-height: 15px; 
            color: $darkest;
        }

        &>.icon{
            font-size: 18px;
            color: $semi-light;
            margin-left: 4px;
        }

        &:hover{
            cursor: default;
            &>.icon{
                color: $light-brand;
            }

            .main-markets__dropdown{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__dropdown{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 100%;
        background: white;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 8px 0px;
        width: 200px;
    }

    &__hidden-item{
        font-size: 12px;
        line-height: 15px;
        padding: 8px 12px;
        color: $regular;
        cursor: pointer;
        border-bottom: 1px solid $lightest;

        &:last-child{
            border-bottom: 0px;
        }

        &:hover{
            color: $light-brand;
            font-weight: 600;
            background: $lightest;
        }
    }
}

.main-stats{
    background: $lightest;
    max-height: 405px;
    overflow-x: hidden;
    scrollbar-width: thin;

    &--live{
        max-height: 460px;
    }
}

.main-stat{
    background: $light-brand;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px 8px;
    margin-bottom: 4px;
    transition: 200ms ease;

    &:last-child{
        margin-bottom: 0px;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        color: white;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }

    &__controls{
        display: flex;
        align-items: center;

        &>i{
            color: white;
            font-size: 18px;
            cursor: pointer;
            margin-left: 15px;

            &:first-child{
                margin-left: 0px; 
            }
        }
    }

    &__content{
        height: 0px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: 200ms ease;
    }
}

.shots-block{

    &__statistics{
        margin-right: 12px;
        &>.icon{
            font-size: 24px;
            color: $light;
        }
    }

    &__player{
        background-color: white;
        padding: 6px 8px 6px 12px;
        border-bottom: 1px solid $lightest;
        display: flex;
        align-items: center;

        &:first-child{
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }

        &:last-child{
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom: 0px;
        }
    }

    &__player-name{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $darkest;
    }

    &__player-team{
        font-size: 12px;
        line-height: 15px;
        color: $regular;
    }

    .shots-slider{
        margin-left: auto;
    }
}

.shots-slider{
    display: flex;
    justify-content: center;
    max-width: 570px;
    min-width: 570px;

    &__prev{
        display: flex;
        align-items: center;
        justify-content: center;
        background: $lightest;
        border: 1px solid $ultra-light;
        border-radius: 8px 0px 0px 8px;
        padding: 9px 0px;
        color: $light-brand;
        font-size: 12px;
        margin-right: 2px;
        cursor: pointer;

        &>i{
            transform: rotate(180deg);
        }
    }

    &__next{
        display: flex;
        align-items: center;
        justify-content: center;
        background: $lightest;
        border: 1px solid $ultra-light;
        border-radius: 0px 8px 8px 0px;
        padding: 9px 0px;
        color: $light-brand;
        font-size: 12px;
        margin-left: 2px;
        cursor: pointer;
    }

    &__item{
        background: $lightest;
        border: 1px solid $ultra-light;
        box-sizing: border-box;
        margin-right: 2px;
        width: 88px;
        height: 32px;
        padding: 5px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; 

        &--choosed{
            background: $light-brand;
            border-color: $light-brand;

            .shots-slider__amount{
                color: white;
                opacity: 0.8;
            }

            .shots-slider__stat{
                color: white;
            }
        }

        &:last-child{
            margin-right: 0px;
            border-radius: 0px 8px 8px 0px;
        }

        &:first-child{
            border-radius: 8px 0px 0px 8px;
        }
    }

    &__list{
        display: flex;
        max-width: 538px;
        min-width: 538px;
    }

    &__amount{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: $regular;
    }

    &__stat{
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.04em;
        color: $darkest;
    }
}

.markets-block{
    
    &__item{
        background-color: white;
        padding: 6px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $lightest;

        &:first-child{
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }
    
        &:last-child{
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom: 0px;
        }
    }

    &__item-title{
        margin-right: auto;
        margin-left: 4px;
        color: $darkest;
        font-size: 12px;
        line-height: 15px;
    }

    &__item-value{
        margin-left: auto;
        padding: 5px;
        display: flex;
        align-items: center;

        &>p{
            color: $darkest;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }

        &>.icon{
            font-size: 12px;
            color: $semi-light;
            margin-left: 4px;
        }
    }

    &__selectors{
        display: grid;
        margin-left: 7px;
        grid-template-columns: 1fr;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        width: 365px;
        border-radius: 8px;

        &--double{
            grid-template-columns: 1fr 1fr;

            .markets-block__selector{
                &:first-child{
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                &:last-child{
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }

        &--triple{
            grid-template-columns: 1fr 1fr 1fr;
            
            .markets-block__selector{
                &:nth-last-child(3){
                    border-bottom-left-radius: 8px;
                }

                &:nth-child(3){
                    border-top-right-radius: 8px;
                }

                &:last-child{
                    border-bottom-right-radius: 8px;
                }

                &:first-child{
                    border-top-left-radius: 8px;
                }
            }
        }

    }

    &__selector{
        background: $lightest;
        border: 1px solid $ultra-light;
        padding: 8px;
        text-align: center;
        color: $darkest;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;

        &--selected{
            border-color: $light-brand;
            background-color: $light-brand;
            color: white;
        }
    }
}

.over-under-block{
    &__item{
        background: white;
        border-bottom: 1px solid $lightest;
        padding: 6px;
        display: flex;
        align-items: center;

        &:first-child{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:last-child{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom: 0px;
        }
    }

    &__statistics{
        margin-left: 6px;
        margin-right: 12px;
        &>.icon{
            font-size: 24px;
            color: $light;
        }
    }

    &__player-name{
        color: $darkest;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
    }

    &__player-team{
        color: $regular;
        font-size: 12px;
        line-height: 15px;
    }

    &__selectors{
        margin-left: auto;
        display: grid;
        width: 280px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 6px;
    }

    &__selector{
        display: flex;
        justify-content: space-between;
        background: $lightest;
        border: 1px solid $ultra-light;
        padding: 8px 12px;
        cursor: pointer;

        &:first-child{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        &:last-child{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    &__selector-text{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: $semi-light;

        span{
            color: $semi-dark;
        }
    }

    &__selector-value{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.04em;
        color: $darkest;
    }
}

.exotic-block{
    padding: 7px;
    border-radius: 8px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;

    &__item{
        padding: 8px 12px;
        border-radius: 8px;
        background: $lightest;
        border: 1px solid $ultra-light;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &--selected{
            background-color: $light-brand;
            border-color: $light-brand;

            .exotic-block__player-name{
                color: white;
                opacity: 0.8;
            }

            .exotic-block__player-value{
                color: white;
            }
        }
    }

    &__player-name{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: $regular;
    }

    &__player-value{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.04em;
        color: $darkest;
    }
}

.multi-odds-block{
    &__item{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px;

        &:first-child{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:last-child{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    &__text{
        font-size: 12px;
        line-height: 15px;
        color: $darkest;
        margin-left: 10px;
        
        span{
            font-weight: 600;
        }
    }

    &__selector{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightest;
        border: 1px solid $ultra-light;
        padding: 8px;
        width: 120px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.04em;
        color: $darkest;
        cursor: pointer;

        &--selected{
            background-color: $light-brand;
            border-color: $light-brand;
            color: white;
        }
    }
}

.build-search{
    background-color: $lightest;
    padding: 8px 8px 0px 8px;
    width: 530px;
    min-height: 420px;
    max-height: 460px;
    border-bottom-left-radius: 8px;

    &__search-wrapper{
        position: relative;
    }

    &__search-input{
        background: white;
        border: 1px solid $ultra-light;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 12px;
        line-height: 16px;
        color: $light;
        width: 100%;
        padding: 8px 8px 8px 34px;

        &::placeholder{
            font-size: 12px;
            line-height: 15px;
            color: $light;
        }

        &:focus{
            border-color: $light-brand;
            color: $darkest;

            &+.build-search__search-icon{
                color: $light-brand;
            }
        }
    }

    &__search-icon{
        position: absolute;
        left: 9px;
        top: 8px;
        color: $light;
        font-size: 18px;
    }

    &__players{
        margin-top: 8px;
        height: calc(100% - 32px - 8px - 8px);
        overflow-y: scroll; 
    }
}

.build-form{
    background-color: $lightest;
    padding: 8px;
    width: 352px;
    margin-left: 2px; 
    min-height: 420px;
    max-height: 460px;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 8px;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6px;
        margin-bottom: 10px;
    }

    &__title{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $darkest;
        display: flex;
        margin-left: 8px;
        & span{
            font-size: 18px;
            color: $semi-light;
            margin-left: 4px;
        }
    }

    &__clear-all{
        font-size: 12px;
        line-height: 15px;
        color: $light;
        cursor: pointer;
        display: flex;
        margin-right: 8px;
        & span{
            font-size: 18px;
            margin-left: 6px; 
        }
    }

    &__tabs{
        background-color: white;
        padding: 4px;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 10px;
    }

    &__tab{
        cursor: pointer;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        line-height: 15px;
        color: $regular;
        border-radius: 4px;

        &--active{
            font-weight: 600;
            color: white;
            background: $light-brand;
        }
    }

    &__players{
        background: $light-brand;
        border-radius: 8px;
        padding: 2px;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        margin-bottom: 8px;
    }

    &__opponents{
        margin-top: 4px;
    }

    &__statistics{
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 10px 12px;
        cursor: pointer;
        margin-bottom: 14px;

        &--selected{
            .build-form__statistics-head{
                &>p{
                    color: $darkest;
                    font-weight: 600;
                }
            }
        }
    }

    &__statistics--trio{
        padding: 6px 12px;
        .build-form__statistics-description{
            font-size: 12px;
            line-height: 15px;
            color: $regular;

            span{
                font-weight: 600;
                color: $darkest;
            }
        }
        .build-form__statistics-name{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $darkest; 
        }
    }

    &__statistics-head{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>p{
            font-size: 14px;
            line-height: 17px;
            color: $semi-light;
        }
        &>.icon{
            font-size: 24px;
            color: $semi-light;
        }
    }

    &__statistics-dropdown{
        position: absolute;
        top: calc(100% + 2px);
        opacity: 0;
        visibility: hidden;
        left: 0px;
        width: 100%;
        height: 114px;
        border-radius: 8px;
        background-color: white;
        overflow-y: scroll;

        &--open{
            opacity: 1;
            visibility: visible;
        }
    }

    &__statistics-item{
        padding: 10px 12px;
        border-bottom: 1px solid $lightest;
        font-size: 14px;
        line-height: 17px;
        color: $darkest;
        font-weight: 600;

        &:hover{
            color: $light-brand;
            background: $lightest;
        }
    }

    &__counter{
        margin-bottom: 8px;
    }

    &__counter-title{
        margin-left: 8px;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: $darkest;
    }

    &__counter-wrap{
        display: flex;
    }

    &__counter-minus{
        padding: 5px 15px;
        border-radius: 8px 0 0 8px;
        border: 1px solid $ultra-light;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        background: white;
        cursor: pointer;

        &>.icon{
            color: $darkest;
            font-size: 18px;
        }

        &.unactive{
            cursor: unset;
            &>.icon{
                color: $light;
            }
        }
    }

    &__counter-value{
        width: calc(100% - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        border: 1px solid $ultra-light;
        border-right: 0px;
        border-left: 0px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $darkest;
        background: white;
    }

    &__counter-plus{
        padding: 5px 15px;
        border-radius: 0 8px 8px 0;
        border: 1px solid $ultra-light; 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        background: white;
        cursor: pointer;

        &>.icon{
            color: $darkest;
            font-size: 18px;
        }

        &.unactive{
            cursor: unset;
            &>.icon{
                color: $light;
            }
        }
    }

    &__selectors{
        margin-bottom: 8px;

        &--unavailable{
            pointer-events: none;
            opacity: 0.4;
        }
    }

    &__selector{
        background: white;
        padding: 6px 11px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $lightest;

        &:first-child{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:last-child{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom: 0px;
        }
    }

    &__checkbox-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        width: 18px;
        margin-right: 11px;
        position: relative;

        & input[type="checkbox"]{
            height: 18px;
            width: 18px;
            opacity: 0;
            cursor: pointer;

            &:checked+.build-form__checkbox-overlap{
                color: white;
                background: $light-brand;
                border-color: $light-brand;
            }
        }
    }

    &__checkbox-overlap{
        position: absolute;
        pointer-events: none;
        top: 0px;
        left: 0px;
        height: 18px;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #C4C7D4;
        border-radius: 4px;
        color: transparent;
        font-size: 8px;
    }

    &__checkbox-text{
        font-size: 12px;
        line-height: 15px;
        color: $darkest;

        span{
            font-weight: 600;
        }
    }

    &__controls{
        margin-top: auto;
        display: flex;

        &--unavailable{
            opacity: 0.4;
            pointer-events: none;
        }
    }

    &__total-odds{
        background: white;
        border: 1px solid $light;
        box-sizing: border-box;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px;
        min-width: 112px;
        font-size: 10px;
        line-height: 12px;
        color: $semi-light;
        margin-right: 7px;

        span{
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: $darkest;
        }
    }

    &__button{
        background: $success;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        border: none;
        padding: 15px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 100%;
    }

    &__add-opponent{
        border-radius: 8px;
        background-color: $light-brand;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        margin-top: 2px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: white;
        cursor: pointer;

        &> .icon{
            color: white;
            font-size: 17px;
            margin-top: 1px;
            margin-right: 4px;
        }
    }
}

.build-form-player{
    background: white;
    display: flex;
    align-items: center;
    padding: 5px 6px;
    border-bottom: 1px solid $lightest;
    min-height: 44px;

    &--empty{

        &>.icon{
            font-size: 24px;
            color: $light;
            margin-left: 2px;
            margin-right: 8px;
        }

        &>p{
            font-size: 14px;
            line-height: 17px;
            color: $semi-light;
        }
    }

    &--trio{
        position: relative;

        .build-form-player__loop-icon{
            z-index: 1;
            top: -9px;
            left: 16px;
        }
    }

    &__position{
        margin-right: 4px;
        margin-left: 5px;
        min-width: 25px;
        text-align: center;
        span{
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #121421;
        }
    }

    &__title{
        margin-left: 7px;
    }

    &__name{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $darkest;
    }

    &__match{
        font-size: 12px;
        line-height: 15px;
        color: $regular;

        span{
            font-weight: 600;
        }
    }

    &__delete{
        margin-left: auto;
        padding: 6px;
        border-radius: 4px;
        border: 1px solid $light-brand;
        display: flex;
        align-items: center;
        cursor: pointer;

        & .icon{
            font-size: 18px;
            color: $light-brand;
            transform: rotate(45deg);
            transform-origin: center center;
        }
    }

    &:first-child{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &:last-child{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    &__statistic-text{
        font-size: 12px;
        line-height: 15px;
        color: $regular;

        span{
            font-weight: 600; 
            color: $darkest;
        }
    }

    &__statistic-select{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &>.icon{
            cursor: pointer;
            font-size: 23px;
            margin-top: 1px;
            color: $semi-light;
        }

        &--unavailable{
            .build-form-player__select-text{
                color: $semi-light;
            }
        }
    }

    &__select-text{
        font-size: 14px;
        line-height: 17px;
        color: $darkest;
    }

    &__loop-icon{
        position: absolute;
        bottom: -11px;
        left: 12px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &--unavailable{
            .build-form-player__loop-overlap{
                opacity: 0.4;
            }
        }

        & .icon{
            font-size: 14px;
            color: white;
            position: absolute;
            top: 1px;
            left: 1.5px;
            z-index: 1;
        }
    }

    &__loop-overlap{
        height: 16px;
        width: 16px;
        background-color: $light-brand;
        border-radius: 50%;
    }
}

.build-form-player--statistic{
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px 12px; 
    position: relative;
}

.player-searched{
    background: white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 6px;
    margin-bottom: 2px;

    &:last-child{
        margin-bottom: 0px;
    }

    &__icon{
        font-size: 24px;
        color: $light;
        margin-left: 9px;
        margin-right: 15px;
    }

    &__name{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $darkest;
    }

    &__match{
        font-size: 12px;
        line-height: 15px;
        color: $regular;

        span{
            font-weight: 600;
        }
    }

    &__control{
        margin-left: auto;
        padding: 6px;
        border-radius: 4px;
        background: $semi-light;
        border: 1px solid $semi-light;
        display: flex;
        align-items: center;
        cursor: pointer;

        & .icon{
            font-size: 18px;
            color: white;
        }
    }

    &--selected{

        .player-searched__control{
            border-color: $light-brand;
            background: transparent;

            & .icon{
                transform: rotate(45deg);
                transform-origin: center center;
                color: $darkest;
            }
        }
    }
}


.main-stat--open{
    .main-stat__header{
        .main-stat__open{
            transform: rotate(90deg);
            transform-origin: center center;
        }
    }

    .main-stat__content{
        height: auto;
        margin-top: 8px;
        visibility: visible;
        opacity: 1;
    }
}

.live-toggle--toggled{
    background: $warning;
    border: 1px solid #CDA61D;
    box-sizing: border-box;
    border-radius: 8px;

    &>.icon{
        color: black;
    }

    & .live-toggle__text{
        font-weight: 600;
    }

    & .live-toggle__toggler{
        background-color: white;
        border-color: white;
    }

    & .live-toggle__toggler-round{
        background-color: $darkest;
        margin-left: calc(100% - 16px);
    }
}

.banner-players--active{
    .players-dropdown{
        opacity: 1;
        visibility: visible;
    }
    >i {
        color: $light-brand;
    }
}

.games-selection--active{
    .games-dropdown{
        opacity: 1;
        visibility: visible;
    }
    .games-selection__select i {
        color: $light-brand;
    }
}

.main-banner--build-mode{
    background-color: $light-brand;

    .banner-menu__build-button{
        background-color: white;

        i{
            font-size: 12px;
            color: $light-brand;
        }
    }

    .banner-menu__breadcrumbs{
        color: white;

        i{
            color: white;
        }
    }

    .main-banner__images{

        .main-banner__ligue{
            filter: grayscale(1) contrast(0.1);
            mix-blend-mode: screen;
        }

        .main-banner__sport-img{
            mix-blend-mode: lighten;
        }
    }

    .games-selection__select{
        background: rgba(255, 255, 255, 0.4);

        &>i{
            color: white;
        }

        &>.games-dropdown__item{
            color: white;

            .games-dropdown__item-name{
                color: white;

                span{
                    color: white;
                }
            }

            .games-dropdown__item-time{
                color: white;
            }
        }
    }
}

.footer-logo{
    height: 22px;
    width: 115px;
    position: fixed;
    right: 21px;
    bottom: 13px;

    & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}

