.container{
    width: 100%;
    max-width: 890px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.icon::before{
    display: flex;
}

.text-bg{
    background: white;
    padding: 2px 5px;
    display: inline-block;
    border-radius: 4px;

    &--accent{
        border-radius: 6px;
        background: $light-brand;
        color: white; 
    }
}

// HEADER 

.header{
    padding: 8px 0;

    &__wrapper{
        display: flex;
        align-items: center;
    }

    &__logo{
        font-style: italic;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 4%;
        text-transform: uppercase;
        color: $semi-dark;
        line-height: 20px;
    }

    &__navigation{
        margin-left: 50px;
    }

    &__info{
        margin-left: auto;
    }
}

.main-navigation{
    display: flex;
    align-items: center;

    &__item{
        display: flex;
        align-items: center;
        margin-right: 18px;

        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $semi-dark;

        }

        p{
            line-height: 14.5px;
        }

        &:last-child{
            margin-right: 0px;
        }

        .icon{
            font-size: 18px;
            margin-right: 6px;
            color: $semi-light;
        }

        &--dropdown{
            position: relative;

            .dropdown-icon{
                font-size: 12px;
                margin-left: 2px;
                height: 12px;
                margin-top: 0;
            }

            &:hover{
                .dropdown-icon{
                    color: $light-brand;
                }

                .notation-dropdown{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.notation-dropdown{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    background: $lightest;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    padding: 4px;

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 12px;
        color: $regular;
        font-size: 12px;
        line-height: 14.5px;
        cursor: pointer;

        &--active{
            background-color: $light-brand;
            font-weight: bold;
            color: white;
            border-radius: 4px;
        }
    }
}

.header-info{
    padding: 8px;
    background: $lightest;
    color: $darkest;
    border-radius: 8px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;

    &__item{
        font-weight: 600;
        display: flex;
        align-items: center;

        .text-bg{
            margin-right: 4px;
        }

        &:not(:first-child){
            margin-left: 17px;
            font-weight: 400;

            .text-bg{
                margin-right: 0px;
                margin-left: 4px;
            }

            .text-bg--accent{
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

// HEADER SLIDER

.sub-header{
    background-color: $lightest;

    .container{
        padding: 0px;
        max-width: 900px; 
    }
}

.ligues-slider{
    display: flex;

    &__next{
        background: #F7F7F8;
        box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.06);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        color: $light-brand;
        cursor: pointer;
    }

    &__prev{
        background: #F7F7F8;
        box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.06);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        color: $light-brand;
        cursor: pointer; 
        
        &>.icon{
            transform: rotate(180deg);
            transform-origin: center center;
        }
    }

    &__list{
        width: calc(100% - 48px);
        padding-top: 7px;
        padding-bottom: 7px;
        display: flex;
    }

    &__item{
        padding: 5px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100% / 8);
        position: relative;
        cursor: pointer;

        &--selected{
            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
            background-color: white;

            .ligues-slider__ligue-name{
                color: $light-brand;
            }

            .ligues-slider__icon{
                color: $light-brand;
            }
        }

        &--unavailable{

            .ligues-slider__ligue-name{
                color: $light;
            }

            .ligues-slider__icon{
                color: $light;
            }

            .ligues-slider__count{
                display: none;
            }
        }
    }

    &__icon{
        font-size: 32px;
        color: $semi-light;
        margin-top: 3px;
        height: 32px;
        width: 32px;
    }

    &__ligue-name{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: $regular;
    }

    &__count{
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 2px 6px;
        background-color: $ultra-light;
        border-radius: 8px;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        color: $regular;
    }
}
