$ultra-light: #CDCDCD;
$lightest: #F7F7F8;
$light-brand: #EC1347;
$semi-dark: #4F5264;
$semi-light: #818598;
$darkest: #121421;
$regular: #676B7E;
$light: #C4C7D4;
$warning: #FFDA57;
$success: #06B78C;